Flask==0.10.1
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.9
aniso8601==1.1.0
argparse==1.4.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
pexpect==4.0.1
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
pyjade==4.0.0
python-dateutil==2.5.3
pytz==2016.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
uuid==1.30
